
<div style="-webkit-padding-start: 0;">
{% for set in journals|batch(2) %}
	<div class="row" style="padding: 0 10px;">
		{% for journal in set %}
		<div class="col-md-6 journal-list-element">
				<div style="list-style: none;margin: 10px 0;">
					<a href="http://www.mdpi.com/journal/{{ journal.nameSystem }}"><img src="{{ "http://www.mdpi.com/img/journals/#{journal.logoFilenameWithHash}" }}" alt="{{ journal.nameSystem }}-logo" title="{{ journal.nameShort }} Open Access Journal" height="50"></a>
					<a href="http://www.mdpi.com/journal/{{ journal.nameSystem }}"><div style="display: inline;float: right; background-color: #FFB800; width: 50px;height:50px;font-weight:bold;border-radius:50%;margin-right:20px;box-shadow:#555 1px 1px 2px;">
						<p style="text-align:center; margin-top:2px;font-size: 13px;color: #1F1D33;"><span style = "font-size: 9px;">I.F</span><br>{{journal.impactFactor|default(0)}}</p>
					</div></a>
				</div>
			</div>
		{% endfor %}
	</div>	
{% endfor %}
</div>

		<div style="margin-top: 40px;">
		<a href="{{ path('_journals') }}"><button type="button" class="btn btn-primary center-block">Ver Todas</button></a>
		</div>


