<nav class="navbar navbar-inverse" style = "border-radius: 0;"">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav">
        <li class="active"><a class="nav-link" href="{{ path('_homepage') }}">Inicio</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Quienes Somos<span class="caret"></span></a>
          <ul class="dropdown-menu">
      		<li><a href="{{ path('_profile') }}">La compañia</a></li>
       		<li><a href="{{ path('_history') }}">Historia</a></li>
        	<li><a href="{{ path('_president') }}">Presidente</a></li>
        	<!--<li><a href="{{ path('_team') }}">Equipo</a></li>-->
          </ul>
        </li>
    <li><a class="nav-link" href="{{ path('_journals') }}">Revistas</a></li>
  	<li><a class="nav-link" href="{{ path('_jobs') }}">Empleo</a></li>
   	<li><a class="nav-link" href="{{ path('_contact') }}">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>

      