



<div class ="container" style= "margin: 20px auto; ">
<div>
<img class="img-responsive" src="/images/mdpi-pub-logo.png" alt="MDPI logo" width="200">
</div>


<div class="jumbotron" style= "background-image: url('/images/mdpi-header-background.jpg')">
	<div style="color: white;font-weight: bold; padding: 20px;">
	    <h1>MDPI</h1>
    	<p>Unete a nosotros</p>
	</div>
</div>


<nav style="margin: 60px 0">
<ul class="nav nav-tabs">
    <li class="active"><a href="{{ path('_homepage') }}">Inicio</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nosotros<span class="caret"></span></a>
      <ul class="dropdown-menu">
      	<li><a href="{{ path('_profile') }}">La comañia</a></li>
       	<li><a href="{{ path('_history') }}">Historia</a></li>
        <li><a href="{{ path('_president') }}">Presidente</a></li>
        <li><a href="{{ path('_team') }}">Equipo</a></li>
        <li><a href="{{ path('_journals') }}">Revistas</a></li>
      </ul>
    </li>
  	<li><a href="{{ path('_jobs') }}">Empleo</a></li>
   	<li><a href="{{ path('_contact') }}">Contacto</a></li>
  </ul>
</nav>

      