{% extends "MDPIEsBundle::base.html.twig" %}


{% block title %}
MDPI | {{job.title}}
{% endblock %}


{% block content %}
<div style="margin: 40px;margin-bottom: 40px;">
<h2 style="color:#565B79;margin-bottom: 40px;font-weight:bold;">{{job.title}}</h2>

<div class="about-content" >
	<div>
		<h3>Organization Overview</h3>
		<p>MDPI is an academic open access publisher based in Basel, Switzerland, founded initially to collect 
		and preserve rare chemical research samples in 1996. To promote the samples collection, MDPI started 
		the free electronic journal Molecules that same year.</p>
		<p>Since 1996, MDPI has grown into a publishing house with more than 150 diverse open access journals, with 
		further editorial offices in Beijing and Wuhan (China) and is opening an office in Barcelona, Spain in the 
		spring of 2016 located near the UPC campus. Additionally, MDPI is backed by more than 6,500 editorial board 
		members worldwide.</p>
		<p>As a member of COPE (Committee on Publication Ethics), STM (International Association of Scientific, 
		Technical, and Medical Publishers), and OASPA (Open Access Scholarly Publishers Association) MDPI enforces 
		rigorous peer-review and adheres to strict ethical policies and standards.</p>
	</div>
	<div>
		<h3>Job Summary</h3>
		{% for pharagraph in job.summary %}
			<p>{{pharagraph}}</p>
		{% endfor %}
	</div>

	<div>
		<h3>Responsibilities</h3>
		<ul>
		{% for resp in job.responsibilities %}
			<li>{{resp}}</li>
		{% endfor %}
		</ul>
	</div>

	<div>
		<h3>Your Profile</h3>
		<ul>
		{% for skill in job.profile.basic %}
			<li>{{skill}}</li>
		{% endfor %}
		</ul>
		{% if job.profile.additional %}
			<p>The following are an advantage:</p>
			<ul>
			{% for skill in job.profile.additional %}
				<li>{{skill}}</li>
			{% endfor %}
			</ul>
		{% endif %}
	
	</div>


	<div>
		<h3 style="color: #565B79;">Questions and Applications</h3>
		<p>{{job.application.text}} <a href="mailto:{{ job.application.email }}">{{job.application.email}}</a>.</p>
	</div>

	</div>


	<div>
		<img class="img-responsive center-block" src="/images/mdpi-pub-logo.png" alt="MDPI Open Access">
	</div>
</div>
{% endblock %}
