{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}
MDPI.es | Historia de MDPI
{% endblock %}

{% block content %}

<h2 class="about-titulo">Historia de MDPI</h2>
<div class="about-content">
	<ul id="mdpi-history">
		<li><span class="about-history-year">1996:</span> Fundación de MDPI en Basel, Suiza. Las siglas corresponde a Molecular Diversity Preservation International.</li>
		<li><span class="about-history-year">2008:</span> Technology Service Co., Ltd., que representa MDPI AG en China, abre nuevas oficinas en Pekín.</li>
		<li><span class="about-history-year">2010:</span> El nombre de la compañía se cambia a MDPI AG (Multidisciplinary Digital Publishing Institute). MDPI se convierte 
		en una de las principales compañías de publicación <em>Open Access</em> del mundo.</li>
		<li><span class="about-history-year">2013:</span> Technology Service Co., Ltd., que representa MDPI AG en China, abre nuevas oficinas en Wuhan.</li>
		<li><span class="about-history-year">2016:</span> MDPI Spain, S.L., que representa MDPI AG en España, abre sus oficinas en Barcelona.</li>
	</ul>
</div>

<div id = "mdpi-resume" class="panel panel-default">
	<p>MDPI publica actualmente más de 160 <a href="{{ path('_journals') }}">revistas científicas</a> y técnicas en inglés. Entre ellas destacan 
	<a class="journalName" href = "http://www.mdpi.com/journal/molecules">Molecules</a>, <a class="journalName" href = "http://www.mdpi.com/journal/ijms">IJMS</a>, 
	<a class="journalName" href="http://www.mdpi.com/journal/sensors">Sensors</a>, <a class="journalName" href = "http://www.mdpi.com/journal/marinedrugs">Marine Drugs</a>, 
	<a class="journalName" href = "http://www.mdpi.com/journal/energies">Energies</a>, <a class="journalName" href = "http://www.mdpi.com/journal/ijerph">IJERPH</a>.Más de 5.000 
	investigadores y profesores constituyen los Editorial Boards de las revistas de MDPI: entre ellos, contamos también con ganadores de Premios Nobel. Más de 21.6400 autores de 
	diferentes países del mundo han publicado artículos en las revistas y más de 35.000 revisores de diferentes ámbitos investigativos han contribuido en mantener alta la reputación de MDPI.</p>
</div>


<section id="mdpi-oficinas">
	<h3>Nuestras Oficinas</h3>
	<div>
		<div class="row">
			<div class="col-sm-4">
				<div>
					<img class="img-thumbnail center-block" src="{{ asset('/images/basel.jpg') }}" alt="Basel Office" width="300px">
					<div>
						<p class="text-center"><strong>Central MDPI, Basel</strong></br>
							<a href="https://www.google.com/maps/place/MDPI+AG/@47.5654786,7.5912334,373m/data=!3m1!1e3!4m5!1m2!2m1!1smdpi!3m1!1s0x0:0x4cf68b54e8599249?hl=en">Klybeckstrasse 64</a></br>
							4057 Basel</br>
							Postfach, CH-4005 Basel</br>
							Switzerland
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
			<div>
				<img class="img-thumbnail center-block" src="{{ asset('/images/haidian.jpg') }}" alt="Haidian Office" width="300px">
				<div>
					<p class="text-center"><strong>Oficinas en Haidian, Beijing</strong></br>
						<a href="https://www.google.com/maps/place/99+Zhong+Guan+Cun+Dong+Lu/@39.9779265,116.3335479,17z"/>No.99 Zhongguancun East Road</a></br>
						Aerospace Cooperation Building, 8th Floor</br>
						100190 Beijing, Haidian District</br>
						China
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<img class="img-thumbnail center-block" src="{{ asset('/images/tongzhou.jpg') }}" alt="Tongzhou Office" width="300px">
				<div>
					<p class="text-center"><strong>Oficinas en Tongzhou, Beijing</strong></br>
						<a href="https://www.google.ch/maps/search/No.+21+Cuijingbeili+beijing+china/@39.88963,116.648951,17z/data=!3m1!4b1">No. 21 Cuijingbeili, Tongzhou</a></br>
						Jincheng Center, Room 2207</br>
						101101 Beijing, Tongzhou District</br>
						China
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div>
				<img class="img-thumbnail center-block" src="{{ asset('/images/wuhan-office.jpg') }}" alt="Wuhan Office" width="300px">
				<div>
					<p class="text-center"><strong>Oficinas de Wuhan, Wuhan</strong></br>
						<a href="https://www.google.com/maps/place/Jing+An+Lu,+Wuchang+Qu,+Wuhan+Shi,+Hubei+Sheng,+China">No.6 Jingan Road</a></br>
						5.5 Creative Industry Park, 25th Floor</br>
						430064 Wuhan, Hubei Province</br>
						China
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div>
				<img class="img-thumbnail center-block" src="{{ asset('/images/barcelona-office.jpg') }}" alt="Barcelona Office" width="300px">
				<div>
					<p class="text-center"><strong>Oficinas de Barcelona, Barcelona</strong></br>
						<a href="https://www.google.com/maps/place/Av.+de+Madrid,+95,+08028+Barcelona,+Spain/@41.3786741,2.1252741,17z/data=!3m1!4b1!4m2!3m1!1s0x12a4988b0421048b:0x2fb1a096f02053d">Avenida Madrid, 95, 1º - 3 </a></br>
						08028 Barcelona</br>
						Spain
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</section>


{% endblock %}