{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}MDPI | Nuestras Revistas{% endblock %}

{% block content %}

<h2 class= "about-titulo">Revistas de MDPI</h2>
<table id="journaltable" class="tablesorter" border="0" cellpadding="3" cellspacing="0">
	<thead>
	<tr style='font-size: 10pt;'>
		<th width="20%" ></th>
		<th width="20%" align="center">Nombre</th>
		<th width="15%" align="center">ISSN</th>
		<th width="15%" align="center">Establecida</th>
		<th width="10%" align="center">Número Actual</th>
		<th width="20%" align="center">Artículos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
	</tr>
	</thead>
	<tbody>
    {% for journal in journals %}
		<tr style='font-size: 10pt;' class="{{ cycle(['journal-even','journal-odd'],loop.index0) }}">
			<td width="20%" align="left"><a href="http://www.mdpi.com/journal/{{ journal.nameSystem }}"><img src='{{ asset("http://www.mdpi.com/img/journals/#{journal.logoFilenameWithHash}") }}' alt="{{ journal.nameSystem }}-logo" title="{{ journal.nameShort }} Open Access Journal" border="0" height="70"></a></td>
			<td width="20%" align="left"><a href="http://www.mdpi.com/journal/{{ journal.nameSystem }}">{{ journal.nameFull }}</a></td>
			<td width="10%" align="left">ISSN {{ journal.issnElectronic }}</td>
			<td width="10%" align="left">{{ journal.establishedYear }}</td>
			<td width="20%" align="left">
            {% if journal.currentIssue > 0 %}
                {% set current_issue_obj = journal.currentIssueObj() %}
                <a href="#">
                    v.{{ current_issue_obj.Volume.number }}({{ current_issue_obj.number }}):{{ current_issue_obj.pages() }}<br>{{ current_issue_obj.month[0:3] }} {{ current_issue_obj.Volume.year }}
                </a>
            {% elseif journal.forthcomingIssue %}
                {% set forthcoming_issue_obj = journal.forthcomingIssueObj() %}
                <a href="#">Forthcoming <br>Issue</a>
            {% else %}
                <em>No issue<br> available</em>
            {% endif %}
            </td>
           	<td width="20%" align="left">{% if articles_stats[journal.id] is defined %}<a href="#">{{ articles_stats[journal.id] }}</a>{% else %}0{% endif %}</td>
		</tr>
{% endfor %}
	</tbody>
</table>

{% endblock %}
