{% extends "MDPIEsBundle::base.html.twig" %}

{% block title %}MDPI | Nuestras Revistas{% endblock %}

{% block content %}

<h2 class= "about-titulo">Revistas de MDPI</h2>
<div style="padding:20px;">
<table id="journaltable" class="tablesorter" border="0" cellpadding="3" cellspacing="0">
	<thead>
	<tr style='font-size: 10pt;'>
		<th width="20%" ></th>
		<th width="30%" align="left">Nombre</th>
		<th width="20%" align="left">ISSN</th>
		<th width="15%" align="left">Establecida</th>
		<th width="15%" align="left">Artículos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
	</tr>
	</thead>
	<tbody>
    {% for journal in journals %}
		<tr style='font-size: 10pt;' class="{{ cycle(['journal-even','journal-odd'],loop.index0) }}">
			<td width="20%" align="left"><a href="http://www.mdpi.com/journal/{{ journal.nameSystem }}"><img src='{{ asset("http://www.mdpi.com/img/journals/#{journal.logoFilenameWithHash}") }}' alt="{{ journal.nameSystem }}-logo" title="{{ journal.nameShort }} Open Access Journal" border="0" height="70"></a></td>
			<td width="30%" align="left"><a href="http://www.mdpi.com/journal/{{ journal.nameSystem }}">{{ journal.nameFull }}</a></td>
			<td width="20%" align="left">ISSN {{ journal.issnElectronic }}</td>
			<td width="15%" align="left">{{ journal.establishedYear }}</td>
			<td width="15%" align="left">{% if articles_stats[journal.id] is defined %}<a href="http://www.mdpi.com/search/?journal={{journal.nameSystem}}&sort=pubdate">{{ articles_stats[journal.id] }}</a>{% else %}0{% endif %}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}
